<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="md-form">
        <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
          mdbInputDirective>
        <label for="search-input">Search</label>
      </div>
      <div class="md-form">
        <button class="btn -primary" (click)="getTabela(1)">Buscar produtos</button>
      </div>
      <div class="md-form">
        <button class="btn -primary" (click)="definePagina()">Atualiza paginas</button>
      </div>
    </div>
    <table mdbTable stickyHeader="true" hover="true" striped="true" class="z-depth-1">
      <thead class="sticky-top">
        <tr>
          <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
            scope="col">{{head}} <mdb-icon icon="sort"></mdb-icon>
          </th>
        </tr>
      </thead>
      <tbody #row>
        <tr mdbTableCol
          (rowCreated)="onRowCreate($event)"
          (rowRemoved)="onRowRemove($event)"
          *ngFor="let el of elements; let i = index">
          <th *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" scope="row">{{el.id}}</th>
          <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" class="red-text">{{el.codigo}}</td>
          <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.descricao}}</td>
          <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{el.preco}}</td>
        </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">

        <tr>
          <td [colSpan]="(headElements.length)">
            <mdb-table-pagination paginationAlign="" [searchDataSource]="elements" (nextPageClick)="onNextPageClick($event)"
              (previousPageClick)="onPreviousPageClick($event)"></mdb-table-pagination>
          </td>
        </tr>

      </tfoot>
    </table>

  </div>
</div>

<!-- [ngClass]="{'alr':isNaN(parseFloat(el[head]))}" -->
