<div class="container">
<div class="row">
    <div class="col-md-6 mx-auto">
      <div class="md-form">
        <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
          mdbInputDirective>
        <label for="search-input">Search</label>
      </div>
    </div>
    <table mdbTable stickyHeader="true" hover="true" striped="true" class="z-depth-1">
      <thead class="sticky-top">
        <tr>
          <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
            scope="col">{{ head }} <mdb-icon icon="sort"></mdb-icon>
          </th>
        </tr>
      </thead>
      <tbody #row>
        <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)"  *ngFor="let el of elements">
          <td *ngFor="let head of headElements" [ngClass]="{'alr':isNumber(el[head])}">
            <span *ngIf="!isNumber(el[head])"> {{ el[head] }} </span>
            <span *ngIf="isNumber(el[head])"> {{ el[head] | currency:'BRL' }} </span>
          </td>
        </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">

        <tr>
          <td [colSpan]="(lastItemIndex)">
            <mdb-table-pagination
              paginationAlign=""
              [searchDataSource]="elements"
              (nextPageClick)="onNextPageClick($event)"
              (previousPageClick)="onPreviousPageClick($event)">
            </mdb-table-pagination>
          </td>
        </tr>

      </tfoot>
    </table>

  </div>
</div>

<!-- [ngClass]="{'alr':isNaN(parseFloat(el[head]))}" -->
