<div class="container">
    <div class="row">
          <mdb-card *ngFor="let row of linhas">
              <!--Card image-->
              <mdb-card-img src="http://servicos.kappesberg.com.br/banner/codigos/_{{ row.codigo }}.jpg" alt="Hint da linha"></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>

                <!--Title-->
                <mdb-card-title>
                  <h4>{{ row.descricao }}</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text> 
                    <p class="card-text">São mais de {{ row.count }} produtos para voce escolher.</p>
                    <p>Clique em <b>Ver Produtos</b> para abrir a relação completa desta linha.</p>
                </mdb-card-text>

              </mdb-card-body>

              <!--Footer-->
              <mdb-card-footer>
                <a href="#" [routerLink]="['/tabela']" routerLinkActive="router-link-active"  mdbBtn color="primary" mdbWavesEffect>Ver Produtos</a>
              </mdb-card-footer>
          </mdb-card>
    </div>
</div>
