<div class="container">
    <div class="row">
      <div class="col-sm">
          <mdb-card>
              <!--Card image-->
              <mdb-card-img src="http://servicos.kappesberg.com.br/banner/codigos/_53.jpg" alt="Hint da linha"></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>

                <!--Title-->
                <mdb-card-title>
                  <h4>Nome da linha</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text> Breve descrição sobre a linha
                </mdb-card-text>

              </mdb-card-body>

              <mdb-card-footer>
                <a href="#" [routerLink]="['/tabela']" routerLinkActive="router-link-active"  mdbBtn color="primary" mdbWavesEffect>Ver Produtos</a>
              </mdb-card-footer>
          </mdb-card>
      </div>
      <div class="col-sm">
          <mdb-card>
              <!--Card image-->
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>

                <!--Title-->
                <mdb-card-title>
                  <h4>Card Title</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </mdb-card-text>

                <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
              </mdb-card-body>
          </mdb-card>
      </div>
      <div class="col-sm">
          <mdb-card>
              <!--Card image-->
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>

                <!--Title-->
                <mdb-card-title>
                  <h4>Card Title</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </mdb-card-text>

                <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
              </mdb-card-body>
          </mdb-card>
      </div>
    </div>
</div>
