<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red">

  <mdb-navbar-brand>
    <a href="#" class="navbar-brand">Navbar</a>
  </mdb-navbar-brand>

  <links>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="['/linhas']" mdbWavesEffect>Linhas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="['/tabela']" mdbWavesEffect>Preços</a>
        </li>
    </ul>

    <form class="form-inline waves-light waves-light ml-auto" mdbWavesEffect>
        <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button mdbBtn color="success" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>Search</button>
        </div>
    </form>

  </links>

</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet>
